In [1]:
import pandas as pd
import numpy as np

In [2]:
import re

In [4]:
# nodes = pd.read_csv('new_mesh_6x3_nodes.csv', sep=' ')

In [5]:
nodes = open('new_mesh_6x3_nodes.csv', 'r')

In [6]:
list_ = [line.strip() for line in nodes]

In [7]:
columns = re.split(r' ', list_[0])

In [8]:
info_nodes = np.ones((len(list_)-1, len(columns)), dtype=float)

In [9]:
info_nodes[0]

array([1., 1., 1., 1., 1., 1.])

In [10]:
[i for i in re.split(r' ', list_[1]) if i != '']

['1', '3', '1.5', '0', '0', '0']

In [12]:
for i in range(1, len(list_)):
    info_nodes[i-1] = [x for x in re.split(r' ', list_[i]) if x != '']

In [13]:
nodes_df = pd.DataFrame(info_nodes, columns=columns)
nodes_df.drop(['z', 'tc', 'rc'], axis=1, inplace=True)

In [14]:
nodes_df.index = nodes_df.nid
nodes_df.drop(['nid'], axis=1, inplace=True)

In [15]:
nodes_df.head()

           x       y
nid
1.0   3.0000  1.5000
3.0   2.8125  1.5000
97.0  2.8125  1.3125
96.0  3.0000  1.3125
4.0   2.6250  1.5000

In [16]:
elements = open('new_mesh_6x3_elements.csv', 'r')

In [17]:
list_ = [line.strip() for line in elements]

In [18]:
columns = re.split(r' ', list_[0])

In [19]:
columns

['eid', 'pid', 'n1', 'n2', 'n3', 'n4']

In [20]:
info_elements = np.ones((len(list_)-1, len(columns)), dtype=float)

In [21]:
for i in range(1, len(list_)):
    info_elements[i-1] = [x for x in re.split(r' ', list_[i]) if x != '']
    
elements_df = pd.DataFrame(info_elements, columns=columns)

In [22]:
elements_df.index = elements_df.eid
elements_df.drop(['eid', 'pid'], axis=1, inplace=True)

In [23]:
elements_df.head()

      n1   n2     n3     n4
eid
1.0  1.0  3.0   97.0   96.0
2.0  3.0  4.0   98.0   97.0
3.0  4.0  5.0   99.0   98.0
4.0  5.0  6.0  100.0   99.0
5.0  6.0  7.0  101.0  100.0

In [25]:
nodes_df.to_csv('new_nodes_df_6x3.csv')

In [26]:
elements_df.to_csv('new_elements_df_6x3.csv')